.requests-sidebar-root {
  z-index: 999;
}

.requests-link:hover {
  text-decoration: none;
}

.requests-link .list-group-item {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F6F8FC;
}

.requests-link .list-group-item:hover {
  cursor: pointer;
  background-color: #A5D0F4;
}

.requests-sidebar-container {
  width: 200px;
  height: 100%;
  overflow-y: hidden;
  border-right: 0;
}

.active-link .list-group-item {
  text-decoration: none;
  background-color: #DDE4F1;
  font-weight: bold;
}