body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
}

.App-content {
  display: flex;
  flex-grow: 10;
}

.App-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.rbc-calendar {
  width: 100%;
}