
.loginBox {
    background-color: white;
    padding-top:20px;
    padding-bottom:20px;
    position:absolute;
    top:40%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 500px;
}

.loginContent {
    margin: 10px 10px 10px 10px;
}

.loginContent .row {
    margin: 0;
}

#login-page {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color: lightblue;
}