.loginBox {
    background-color: white;
    padding-top:20px;
    padding-bottom:20px;
    position:absolute;
    top:40%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 500px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    box-shadow: 0 2px 3px rgba(0,0,0,.55);
}

.loginContent {
    margin: 10px 10px 10px 10px;
}

.loginContent .row {
    margin: 0;
}

#loginPage {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color: #DDE4F1;
}

.btn-primary {
  background-color: #4DABFD;
  border: 0;
}