.resources-sidebar-root {
  z-index: 999;
  text-align:center;
}

.active-link .list-group-item {
  text-decoration: none;
  background-color: #DDE4F1;
  font-weight: bold;
}

.resource-link:hover {
  text-decoration: none;
}

.resource-link .list-group-item {
  padding-left: 20px;
  padding-right: 20px;
}

.resource-link .list-group-item:hover {
  cursor: pointer;
  background-color: #A5D0F4;
}

.new-resource-btn {
  margin-left: 0px;
  margin-bottom: 10px;
  z-index: 1400;
  width: 92px;
}

.new-resource-btn .dropdown-toggle, .new-resource-btn .dropdown-menu {
  margin-left: 0px;
  margin-bottom: 0px;
}

.resources-sidebar-container {
  width: 200px;
  height: 100%;
  overflow-y: hidden;
  border: 0;
}