@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  color: #222;
  border-bottom: 1px solid #e4e4e4;
}

.app-logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 40px;
  margin-right: 75px;
  margin-left: 60px;
}

.app-search {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 auto;
  min-width: 500px;
  width: 800px;
  z-index: 1000;
  max-width: 900px;
}

.app-links {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

